#LoginPage {
  height: 100vh;
  background-image: url('/src/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  body {
    font-family: 'Lato', sans-serif;
  }

  h1 {
    font-family: monospace;
    font-size: 4em;
    font-weight: 600;
    word-spacing: -0.2em;
    margin-bottom: 10px;
  }

  .main-head {
    height: 150px;
    background: #fff;
  }

  .sidenav {
    height: 40%;
    background-color: rgba(100, 100, 100, 0.9);
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  label {
    font-weight: 600;
  }

  .login-form {
    width: 80%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 15px;
  }

  .main {
    height: 60%;
    padding: 0px 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  }

  @media screen and (max-width: 300px) {
    .sidenav {
      height: 50%;
    }
    .main {
      height: 50%;
    }
  }

  @media screen and (min-width: 700px) {
    .main {
      height: 100%;
      margin-left: 40%;
    }

    .sidenav {
      height: 100%;
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      h1,
      p {
        margin-bottom: 40px;
      }
    }

    .register-form {
      margin-top: 20%;
    }
  }

  .login-main-text {
    padding: 60px;
    color: #fff;
  }

  .login-main-text h2 {
    font-weight: 300;
  }

  .btn-black {
    background-color: #000 !important;
    color: #fff;
  }
}
