@import '~bootstrap/scss/bootstrap';
@import 'custom';
@import 'UserBar';
@import 'Sidebar';
@import 'LoginRegisterPage';
@import '404';
@import 'App';
@import 'MainPannel';
@import 'Task';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
